body {
    margin: 10px 15px 10px 15px;
}
.bloque1 {
    height: 100px;
    background-color: rgb(0, 166, 255);
}
.bloque2 {
    height: 600px;
    background-color: green;
}

.bloque3 {
    height: 600px;
    padding-right: 0;
    padding-left: 0;
}
.bloque4 {
    height: 100px;
    background-color: yellow;
}
.bloque5 {
    height: 500px;
    padding: 0px 13px 0px 13px;

}
.bloque6 {
    height: 49%;
    background-color: rgb(0, 255, 153);
    margin-right: 0px;
}

.bloque7 {
    height: 49%;
    background-color: rgb(0, 255, 153);
    margin-left: 0px;

}

.bloque8 {
    height: 49%;
    background-color: brown;
    margin-right: 5px;
}

.bloque9 {
    height: 49%;
    background-color: brown;
}
.bloque15 {
    height: 100px;
    background-color: aqua;
}
