body {
    margin: 10px 15px 10px 15px;
}

.bloque1 {
    height: 100px;
    background-color: aqua;
}

.bloque15 {
    height: 100px;
    background-color: rgb(72, 0, 255);
}

.bloque2 {
    height: 600px;
    background-color: green;


}

.bloque3 {
    height: 600px;
    padding-right: 1;
    padding-left: 1;
}

.bloque4 {
    height: 100px;
    background-color: yellow;
    margin-left: 2px;
}

.bloque5 {
    height: 250px;
    padding: 0px 13px 0px 13px;

}

.bloque6 {
    height: 93%;
    background-color: orange;
    
}

.bloque7 {
    height: 93%;
    background-color: rgb(0, 157, 255);
    
}

.bloque8 {
    height: 49%;
    width: 25%;
    background-color: brown;
    margin-right: 2px;
}

.bloque9 {
    height: 49%;
    background-color: brown;
}

.col-sm-6 {
    width: 48%;
    margin: auto;
}
@media (min-width: 768px) {
    .bloque3 {
        padding-left: 8px;
    }

    .col-sm-6 {
        width: 48%;
    }

    .bloque8 {
        height: 44%;
        background-color: brown;
        margin-right: 8px;
    }

    .bloque9 {
        height: 44%;
        background-color: brown;
    }
}
@media (min-width: 992px) {
    .bloque8 {
        height: 94%;
        background-color: brown;
        margin-right: 5px;
    }

    .bloque9 {
        height: 94%;
        background-color: brown;
    }

    .bloque5 {
        height: 250px;
        padding: 0px 13px 0px 13px;

    }

    .bloque6 {
        height: 100%;
        background-color: orange;
        margin-right: 8px;
    }

    .bloque7 {
        height: 100%;
        background-color: rgb(0, 157, 255);
        margin-left: 10px;
    }

    .col-lg-6 {
        width: 48%;
        margin: auto;
    }

    .col-lg-3 {
        width: 24%;
    }
}
