body {
    margin: 10px 15px 10px 15px;
}
.bloque1 {
    height: 100px;
    background-color: rgb(0, 166, 255);
}
.bloque2 {
    height: 600px;
    background-color: green;
}

.bloque3 {
    height: 600px;
    padding-right: 0;
    padding-left: 0;
}
.bloque4 {
    height: 100px;
    background-color: yellow;
}
.bloque5 {
    height: 500px;
    padding: 0px 13px 0px 13px;

}
.bloque6 {
    height: 48%;
    background-color: rgb(0, 255, 153);
    margin-right: 0px;
}

.bloque7 {
    height: 48%;
    background-color: rgb(0, 255, 153);
    margin-left: 0px;

}

.bloque8 {
    height: 49%;
    background-color: brown;
    margin-right: 5px;
}

.bloque9 {
    height: 49%;
    background-color: brown;
}
.bloque15 {
    height: 100px;
    background-color: rgb(0, 30, 255);
}
.col-sm-6 {
    width: 49%;
    margin: auto;
}
@media (min-width: 768px) {
    .bloque3 {
        padding-left: 8px;
    }

    .col-sm-6 {
        width: 48%;
    }

    .bloque8 {
        height: 44%;
        background-color: brown;
        margin-right: 8px;
    }

    .bloque9 {
        height: 44%;
        background-color: brown;
    }
}



@media (min-width: 992px) {
    .bloque8 {
        height: 45%;
        background-color: brown;
        margin-right: 5px;
    }

    .bloque9 {
        height: 45%;
        background-color: brown;
    }

    .bloque5 {
        height: 250px;
        padding: 0px 13px 0px 13px;

    }

    .bloque6 {
        height: 98%;
        background-color: blue;
        margin-right: 8px;
    }

    .bloque7 {
        height: 98%;
        background-color: blue;
        margin-left: 10px;
    }

    .col-lg-6 {
        width: 48%;
        margin: auto;
    }

    .col-lg-3 {
        width: 24%;
    }
}