.navbar {
    padding-left: 35px;
    padding-right: 35px;
}
.text-principal {
    padding: 30px 0px 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEFAFF;
}
.div-text {
    width: 80%;
}
h3 {
    font-size: 50px;
}
section {
    margin-bottom: 90px;
}

.principal-articulos {
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-articulos {
    width: 100%;
    padding-top: 40px;
}
.tarjetas {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
}
.tarjeta {
    margin-top: 15px;
}

footer {
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.texto-footer {
    font-size: 22px;
}

.section-contactos {
    padding: 40px 15px 40px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botonSubmit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.formulario {
    margin-top: 25px;
}
.div-breadcrumb {
    margin-top: 25px;
    margin-bottom: 25px;
}

.paginacion {
    margin-top: 40px;
}